<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">
      <h1><%=title %></h1>
      <small> <%= new Date().toISOString() %> </small>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique natus
        sapiente magni tenetur nemo, commodi veniam ad omnis fugit nostrum
        labore, esse assumenda vero saepe amet velit inventore unde impedit,
        illum consequuntur corrupti totam odit iusto. Eos est ad non quaerat
        labore ratione possimus odio culpa cupiditate iusto sequi qui ea eius
        impedit, aliquid atque et distinctio, consequatur ut facere. Corporis ea
        in natus eligendi assumenda consequatur cum provident libero consectetur
        exercitationem, accusantium hic placeat culpa doloribus voluptas ipsam
        ullam voluptate similique at quae non earum mollitia unde. Placeat
        maiores delectus eos quod soluta alias tempore consectetur minima velit
        reiciendis necessitatibus aut modi repudiandae vitae provident, sequi
        asperiores ducimus eum quos. Placeat minus harum autem, quia unde fugit.
        Consequuntur culpa dignissimos deserunt nisi quidem magnam aliquid,
        dolores a eveniet tenetur molestiae tempore error nihil repellat maiores
        possimus accusantium in! Aliquid maxime consequuntur omnis, commodi
        optio corporis doloremque. Qui tenetur iste sint nostrum ad odit quidem
        aliquid similique sed, ea, officia exercitationem velit delectus, culpa
        dolorem id necessitatibus! Perferendis, molestiae! Tenetur quisquam
        voluptatem temporibus cumque quasi rerum facere, excepturi obcaecati
        odit harum itaque asperiores officia maxime laudantium, possimus quia
        eveniet et cupiditate sapiente. Ex inventore eius fugiat optio culpa
        suscipit ullam.
      </p>
    </div>
  </body>
</html>
